extends layout

block content

  //br
  div.row.seven-cols
    div.col-md-1
      div.card
        div.card-body
          h5.card-title Bedroom
          canvas#half-donut-1(width=100,height=60)
    div.col-md-1
      div.card
        div.card-body
          h5.card-title Sunroom
          canvas#half-donut-2(width=100,height=60)
    div.col-md-1
      div.card
        div.card-body
          h5.card-title Study
          canvas#half-donut-3(width=100,height=60)
    div.col-md-1
      div.card
        div.card-body
          h5.card-title Studio
          canvas#half-donut-4(width=100,height=60)
    div.col-md-1
      div.card
        div.card-body
          h5.card-title Attic
          canvas#half-donut-5(width=100,height=60)
    div.col-md-1
      div.card
        div.card-body
          h5.card-title Total
          canvas#half-donut-6(width=100,height=60)
    div.col-md-1
      div.card
        div.card-body
          h5.card-title Solar
          canvas#half-donut-7(width=100,height=60)


  br
  div.row
    div.col-sm-12
      div.card
        div.card-body
          canvas#line-chart-1(height=80)
